/* line 1, ../scss/spendflow.scss */
.alert {
  display: none;
}

/* line 5, ../scss/spendflow.scss */
#spendflow {
  clear: both;
}

/* line 2, ../scss/views/_accounts.scss */
.account-list > table {
  width: auto;
}
/* line 5, ../scss/views/_accounts.scss */
.account-list > table td {
  min-width: 6em;
}
