/* line 1, ../scss/spendflow.scss */
.alert {
  display: none;
}

/* line 5, ../scss/spendflow.scss */
body {
  margin: 20px;
}

/* line 9, ../scss/spendflow.scss */
.nav-alert {
  clear: both;
}

/* line 13, ../scss/spendflow.scss */
#spendflow {
  clear: both;
}

/* line 18, ../scss/spendflow.scss */
.record-list > table {
  width: auto;
}
/* line 21, ../scss/spendflow.scss */
.record-list > table td {
  min-width: 6em;
}

/* line 27, ../scss/spendflow.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 31, ../scss/spendflow.scss */
.being-edited {
  font-weight: bold;
  color: #00f;
}
