<template name="dashboard">
  {{#unless envelopeAmounts}}
    <h2>Nothing to report, sir.</h2>
  {{else}}
    <h2>You have this much outstanding in envelope payments per envelope:</h2>
    {{#each envelopeAmounts}}
      <div class="envelope">
        <strong>{{title}}:</strong> <span class="main-amount">{{total}}</span> <a href="#" class="mark-all-paid" alt="Mark all these Envelope Payments paid" title="Mark all these Envelope Payments paid" data-target="{{_id}}"><i class="icon-ok"></i></a>
      </div>
    {{/each}}

    <p>You might have already moved money into the right accounts when you transferred your income.
      If so, just click the check marks next to each envelope. If not, move your money around as needed
      (generally in your online banking), and then click them.</p>
  {{/unless}}
</template>

<template name="index">
  {{#unless setupComplete}}
    <div class="help">
      <h1>Welcome to the Spendflow Pre-Release!</h1>

      <p>This page aims to give you a rundown of what this app is all about. Better instructions will come over time.</p>

      <p><strong>Spendflow's goal is to help you eliminate financial surprises and give you the confidence
        to use money you might have otherwise left sitting in your account.</strong></p>

      <h2>The Spendflow Principles</h2>
      <ul>
        <li>Budgeting <em>actual</em> income (not future income) should be easier</li>
        <li>Managing spending should be doable in under an hour a week</li>
        <li>It should be easier to figure out if you're behind or ahead of your expenses</li>
      </ul>

      Spendflow isn't there yet, but that is the aim.

      <h2>Setting Up Spendflow </h2>

      <p>Spendflow is pretty quick to set up, and how you set it up depends a lot on how you manage your money.
        What follows is an explanation of the setup screens.</p>

      <p>The best thing about the initial setup is that <strong>it is all optional</strong>. You can still use
        Spendflow even if you don't use Accounts or Envelopes. It just won't be as exciting.</p>

      {{#unless profileId}}
        <p class="required">
          {{#unless profiles}}
            <a href="{{profilesUrl}}">Create a profile</a> first. (Kudos for somehow managing to see this! It should be
            impossible).
          {{else}}
            Use the dropdown at the top-right to select a profile first.
          {{/unless}}
        </p>
      {{else}}
        <h2><a href="{{profilesUrl}}">Let's get started.</a></h2>
      {{/unless}}
    </div>
  {{else}}
    <a href="#" class="show-setup-help">Re-enable Getting Started help.</a>
  {{/unless}}

  {{#if isAdmin}}
    {{> managedUsers}}
  {{/if}}
</template>

<template name="notFound">
  <h1>Not found.</h1>
</template>
