<template name="envelopes">
  {{#unless setupComplete}}
    <h3>Add envelopes (rules for where part of your income should go)</h3>

    <p>The Envelopes dashboard is inspired by the envelope method, although Kevin still isn't sure if he understands
      what that is. He has a few rules set up in there, and when he adds income, he can choose if he wants to, for
      example, set aside money for Tax, Business Savings, R&D, and similar things. He doesn't do this for <em>all</em>
      income, e.g. if he is "withdrawing" money from his Time Off Fund. In that case, the income that the Time Off
      Fund
      came from was already partially put into those categories, so there is no need to do it again.</p>
  {{/unless}}
  {{> newEnvelopeForm}}
  {{> envelopeList}}

  {{#unless setupComplete}}<h3>Next: <a href="{{incomeUrl profileId}}">The Spendflow Workflow</a></h3>{{/unless}}
</template>

<template name="envelopeList">
  {{! LIST OF THE THINGS}}
  <div class="envelope-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Connected account</th>
          <th>Amount</th>
          <th>Enabled by default</th>
          <th>Active?</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each envelopes}}
          {{> envelope}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#with editingEnvelope}}
    <fieldset>
      {{> envelopeForm}}
    </fieldset>
  {{/with}}
</template>

<template name="envelope">
  {{! ROW OF THE THINGS}}
  <tr data-target="{{_id}}"{{#if thisRowBeingEdited}} class="being-edited"{{/if}}>
    <td>{{virtualAccount}}</td>
    <td>{{rate}}%</td>
    <td>{{enabledByDefault}}</td>
    <td>{{active}}</td>
    <td><a href="#" class="edit-envelope"><i class="icon-pencil"></i></a> <a href="#" class="remove-envelope"><i class="icon-trash"></i></a></td>
  </tr>
</template>

<template name="newEnvelopeForm">
  {{! FORM TO MAKE NEW THING}}
  <button class="btn btn-large new-envelope-trigger" data-toggle="collapse" data-target="#new-envelope-form"><i
    class="icon-plus"></i> New envelope
  </button>
  <div id="new-envelope-form" class="collapse">
    {{> envelopeForm}}
  </div>
</template>

<template name="envelopeForm">
    {{! FORM FIELDS}}
    <form{{#if _id}} class="edit-record-form" data-target="{{_id}}"{{else}} class="add-record-form"{{/if}}>
      <div>
        <label>Which account should be connected to this envelope? Money saved will go there automatically.</label>
        <div>
          <select name="virtualAccountId">
            <option value="">Select an account</option>
            {{#each virtualAccounts}}
              {{> selectOptions}}
            {{/each}}
          </select>
        </div>
      </div>

      <label>How much income should be saved? (for 10%, enter 10. You can use decimals such as 10.5)</label>
      <div class="input-append">
        <input type="text" placeholder="30" name="rate"{{#if _id}} value="{{rate}}"{{/if}} />
        <span class="add-on">%</span>
      </div>

      <div><input type="checkbox" name="enabledByDefault" value="1" {{#if _id}}{{#if enabledByDefault}}checked{{/if}}{{/if}} /> <strong>Enabled by default.</strong> Check the box to put a portion of all new income into this envelope. <strong>You can still select and un-select it when you're creating the income.</strong> If you know some of most income will go into this envelope, check the box.</div>

      <div><input type="checkbox" name="active" value="1" {{#if _id}}{{#if active}}checked{{/if}}{{else}}checked{{/if}} /> <strong>Active.</strong> Un-check to deactivate this envelope. This won't affect past data.</div>

      <div>
        <button type="submit" class="btn {{#if _id}}save-envelope{{else}}add-envelope{{/if}}">{{#if _id}}Save{{else}}Add{{/if}}</button>
        {{#if _id}}<button class="btn cancel-editing">Cancel</button>{{/if}}
      </div>
    </form>
  </div>
</template>
