<template name="envelopes">
  {{> envelopeList}}
  {{> newEnvelopeForm}}
</template>

<template name="envelopeList">
  {{! LIST OF THE THINGS}}
  <div class="envelope-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Connected account</th>
          <th>Amount</th>
          <th>Enabled by default</th>
          <th>Active?</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each envelopes}}
          {{> envelope}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="envelope">
  {{! ROW OF THE THINGS}}
  <tr data-target="{{_id}}">
    <td>{{virtualAccount}}</td>
    <td>{{rate}}</td>
    <td>{{enabledByDefault}}</td>
    <td>{{active}}</td>
    <td><i class="remove-envelope cursor-pointer icon-trash"></i></td>
  </tr>
</template>

<template name="newEnvelopeForm">
  {{! FORM TO MAKE NEW THING}}
  <button class="btn btn-large new-envelope-trigger" data-toggle="collapse" data-target="#new-envelope-form"><i
    class="icon-plus"></i>New envelope
  </button>
  <div id="new-envelope-form" class="collapse">
    {{! FORM FIELDS}}
    <form id="new-envelope-form">
      <div>
        <div>Which account should be connected to this envelope? Money saved will go there automatically.</div>
        <div>
          <select name="virtualAccountId">
            {{#each virtualAccounts}}
              {{> selectOptions}}
            {{/each}}
          </select>
        </div>
      </div>
      <label>How much income should be saved? (for 10%, enter 10. You can use decimals such as 10.5)</label>
      <div class="input-append">
        <input type="text" placeholder="30" name="rate" />
        <span class="add-on">%</span>
      </div>
      <div><input type="checkbox" name="enabledByDefault" value="1" /> Check the box to put a portion of all new income into this envelope. <strong>You can still select and un-select it when you're creating the income.</strong> If you know some of most income will go into this envelope, check the box.</div>
      <div><input type="checkbox" name="active" value="1" checked /> Un-check to deactivate this envelope. This won't affect past data.</div>
      <div><button type="submit" class="btn add-envelope">Add</button></div>
    </form>
  </div>
</template>
