<template name="income">
  {{#unless setupComplete}}
    <h2>The Spendflow Workflow</h2>

    <h3>1. Add income</h3>

    <p>Add any upcoming income. Kevin uses this to add income he <em>knows</em> is coming. In his case, that means
      money he's invoiced clients for, money family gives him, money from other business activities, etc. — anything
      he wants to track within this system.</p>
  {{/unless}}

  {{> newIncomeForm}}
  {{> incomeToolbar}}
  {{> incomeList}}
  {{#unless setupComplete}}<h3>Next: <a href="{{expensesUrl profileId}}">Add expenses</a></h3>{{/unless}}

  {{#unless setupComplete}}<h3 id="workflow-step-4">4. When you get paid, transfer your income (if necessary) and mark it transferred
    (click <i class="icon-ok"></i> on <a href="{{incomeUrl profileId}}">Income</a> dashboard).</h3>

    <p>Kevin usually receives income into business accounts, but he likes to keep business and personal funds
      separate. He looks at the totals in the <strong>Commitments</strong> column and transferred the
      <strong>Personal</strong> amounts from the account that received the income to his personal account.
      While he's at it, he usually transfers the <strong>Envelope amounts</strong> to the accounts where he keeps
      those savings as well. He's kind of jumping the gun, there, but it'll all work out, as we'll see...now.</p>

    <h3>Next: <a href="{{paymentsUrl profileId}}">Pay your expenses</a></h3>
  {{/unless}}
</template>

<template name="incomeToolbar">
  <form id="income-toolbar">
    <input type="checkbox" id="income-show-transferred"{{#if showTransferredIncome}} checked{{/if}} /> Show transferred income
  </form>
</template>

<template name="incomeList">
  <div class="income-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Usable date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Envelope amounts</th>
          <th>Transferred</th>
          <th>Biz</th>
          <th>Deposit account<br />Commitments</th>
          <th>Notes</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each incomes}}
          {{> incomeRecord}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="incomeRecord">
  {{! Template name diverges from the norm to avoid a name conflict.}}
  {{! ROW OF THE THINGS}}
  <tr data-target="{{_id}}" class="{{#if thisRowBeingEdited}} being-edited {{/if}}{{#if transferred}} muted {{/if}}">
    <td>{{receiptDate}}</td>
    <td>{{description}}</td>
    <td>
      <div class="main-amount">{{amount}}</div>
      <div class="amount-remaining">{{amountRemaining}} left</div>
    </td>
    <td>
      {{#if envelopeAmounts}}
        <ul class="envelope-amounts">
        {{#each envelopeAmounts}}
          <li>{{#if amountOverridden}}<em>{{/if}}<strong>{{envelopeAmount}}</strong>{{#if amountOverridden}}</em>{{/if}} -> {{envelopeName}} ({{envelopeRate}}%)</li>
        {{/each}}
        </ul>
      {{/if}}
    </td>
    <td>{{transferred}} <a title="Mark {{#if transferred}}not transferred{{else}}transferred{{/if}}" href="#" class="mark-transferred"><i class="{{#if transferred}} icon-ok-sign{{else}}icon-ok{{/if}}"></i></a></td>
    <td>{{business}}</td>
    <td>
      <div>{{depositAccount}}</div>
      <div><b>Biz:</b> {{bizTotal}}</div>
      <div><b>Personal:</b> {{nonBizTotal}}</div>
      <div><b>Uncommitted:</b> {{uncommittedTotal}}</div>
    </td>
    <td>{{multiline notes}}</td>
    <td><a href="#" class="edit-income"><i class="icon-pencil"></i></a> <a href="#" class="remove-income"><i class="icon-trash"></i></a></td>
  </tr>
  {{#if thisRowBeingEdited}}
    <tr>
      <td colspan="9">
        {{!TODO: Put all fieldsets in wells, or something}}
        <fieldset class="well">
          {{> incomeForm}}
        </fieldset>
      </td>
    </tr>
  {{/if}}
</template>

<template name="newIncomeForm">
  <div class="btn-toolbar">
    <button class="btn btn-large new-income-trigger" data-toggle="collapse" data-target="#new-income-form"><i
      class="icon-plus"></i> New income
    </button>
  </div>
  <div id="new-income-form" class="{{#unless incomesCount}}in {{/unless}}collapse">
    {{> incomeForm}}
  </div>
</template>

<template name="incomeForm">
  <form{{#if _id}} class="edit-record-form" data-target="{{_id}}"{{else}} class="add-record-form"{{/if}}>
    <label>Date when income can be used</label>
    <input type="text" name="receiptDate"{{#if _id}} value="{{receiptDate}}"{{/if}} />

    <label>Briefly describe the income</label>
    <input type="text" name="description"{{#if _id}} value="{{description}}"{{/if}} />

    <label>Amount</label>
    <input type="text" name="amount"{{#if _id}} value="{{amount}}"{{/if}} />

    {{! TODO: Add tags using meteor-tags}}

    <label>Select any envelopes that should receive some of this income</label>
    <fieldset>
      {{#each envelopes}}
        <span id="{{_id}}">
          <label class="checkbox">
            <input type="checkbox" name="envelopes[]" value="{{_id}}" {{#unless ../_id}}{{#if enabledByDefault}} checked{{/if}}{{else}}{{#if envelopeInUse}} checked{{/if}}{{/unless}} />
            {{rate}}% -> {{virtualAccount}}
          </label>
          <fieldset><label>If you need to specify exactly how much should be put into the envelope, specify it here. (It's better to just create a new Envelope if you want to change the <em>rate</em>.)</label>
            <input type="text" name="envelopeAmounts[]"{{#if envelopeInUse}} value="{{envelopeAmount}}"{{/if}} />
          </fieldset>
        </span>
      {{/each}}
    </fieldset>

    <label class="checkbox">
      <input type="checkbox" name="transferred"{{#if _id}}{{#if transferred}} checked{{/if}}{{/if}} /> Have you transferred this income? (This means physically moving it into the accounts, usually bank accounts, that you'll use to pay the expenses you've scheduled against this income.)
    </label>

    <label class="checkbox">
      <input type="checkbox" name="business"{{#if _id}}{{#if business}} checked{{/if}}{{/if}} /> Is this business income? (This is used for the calculation that tells you how much of this income to transfer to your personal account.)
    </label>

    <label>Into which physical account will this income be received/deposited?</label>
    <select name="depositAccountId">
      <option value="">Select an account</option>
      {{!TODO: Make this work}}
      {{#each bankAccounts}}
        {{> selectOptions}}
      {{/each}}
    </select>

    <label>If you'd like to include any notes to yourself about this income, enter them here.</label>
    <textarea class="notes" name="notes">{{#if _id}}{{notes}}{{/if}}</textarea>

    <div class="btn-toolbar">
      <button type="submit" class="btn {{#if _id}}save-income{{else}}add-income{{/if}}">{{#if _id}}Save{{else}}Add{{/if}}</button>
      {{#if _id}}<button class="btn cancel-editing">Cancel</button>{{/if}}
    </div>
  </form>
</template>