<template name="nav">
  {{#if profileId}}
    <ul class="nav nav-pills pull-left spendflow-nav">
      <li id="page-index" class="{{indexActive}}"><a href="{{urlFor 'index'}}"><i class="icon-home"></i></a></li>
      <li id="page-dashboard" class="{{dashboardActive}}"><a href="{{urlFor 'dashboard' params=profileId}}">Dashboard</a></li>
      <li id="page-sessions" class="{{sessionsActive}}"><a href="{{urlFor 'sessions' params=profileId}}">Sessions</a></li>
      <li id="page-income" class="{{incomeActive}}"><a href="{{urlFor 'income' params=profileId}}">Income</a></li>
      <li id="page-expenses" class="{{expensesActive}}"><a href="{{urlFor 'expenses' params=profileId}}">Expenses</a></li>
      <li id="page-payments" class="{{paymentsActive}}"><a href="{{urlFor 'payments' params=profileId}}">Payments</a></li>
      {{#unless setupComplete}}<li class="hide-setup-help"><a href="#">Turn off setup help</a></li>{{/unless}}
    </ul>
  {{/if}}

  {{! Put these into a Settings dropdown or something}}
  <ul class="nav nav-pills pull-right spendflow-nav">
    {{#if profileId}}
      <li id="page-accounts" class="{{accountsActive}}"><a href="{{urlFor 'accounts' params=profileId}}">Accounts</a></li>
      <li id="page-envelopes" class="{{envelopesActive}}"><a href="{{urlFor 'envelopes' params=profileId}}">Envelopes</a></li>
      <!--<li id="page-expectations" class="{{expectationsActive}}"><a href="{{urlFor 'expectations' params=profileId}}">Expectations</a></li>-->
    {{/if}}
    <li class="login-buttons">{{> loginButtons}}</li>
    <li id="page-profiles-wrapper" class="dropdown {{profilesActive}}">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{profilesLabel}}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        {{#each profiles}}
          <li><a href="#" class="switch-profile" id="{{_id}}">{{name}}</a></li>
        {{/each}}
        {{#if profiles}}
          <li class="divider"></li>
        {{/if}}
        <li id="page-profiles"><a href="{{urlFor 'profiles'}}">Manage Profiles</a></li>
      </ul>
    </li>
  </ul>
</template>
