<template name="payments">
  {{> newPaymentForm}}
  {{> paymentList}}
</template>

<template name="paymentList">
  <div class="payment-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Expense</th>
          <th>Income</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>Notes</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each payments}}
          {{> payment}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#with editingPayment}}
  {{!TODO: Put all fieldsets in wells, or something}}
    <fieldset class="well">
      {{> paymentForm}}
    </fieldset>
  {{/with}}
</template>

<template name="payment">
  {{! Template name diverges from the norm to avoid a name conflict.}}
  {{! ROW OF THE THINGS}}
  <tr data-target="{{_id}}" class="{{#if thisRowBeingEdited}} being-edited {{/if}}{{#if paid}} muted {{/if}}{{#unless income.transferred}} muted {{/unless}}">
    <td>
      {{#if equal systemMeta.from "envelope"}}<i class="icon-envelope"></i> {{/if}}{{expense.dueDate}} — {{#if expense.business}}<i class="icon-briefcase"></i> {{/if}}{{expense.description}}{{#if expense.destinationAccountId}} <i class="icon-arrow-right"></i> {{expense.destinationAccount}}{{/if}}
      {{#if expense.notes}}{{#unless equal systemMeta.from "envelope"}}<br />{{multiline expense.notes}}{{/unless}}{{/if}}
    </td>
    <td>
      {{#if income.transferred}}<i class="icon-thumbs-up"></i>{{else}}<i class="icon-remove"></i>{{/if}} {{income.receiptDate}} — {{income.description}}{{#if income.depositAccountId}} <i class="icon-arrow-right"></i> {{income.depositAccount}}{{/if}}
      {{#if income.notes}}<br />{{#unless equal systemMeta.from "envelope"}}{{multiline income.notes}}{{/unless}}{{/if}}
    </td>
    <td class="main-amount">{{amount}}</td>
    <td>{{paid}} <a title="Mark {{#if paid}}unpaid{{else}}paid{{/if}}" href="#" class="mark-paid"><i class="{{#if paid}} icon-ok-sign{{else}}icon-ok{{/if}}"></i></a></td>
    <td>{{#unless equal systemMeta.from "envelope"}}{{notes}}{{/unless}}</td>
    <td>{{#unless equal systemMeta.from "envelope"}}<a href="#" class="edit-payment"><i class="icon-pencil"></i></a> <a href="#" class="remove-payment"><i class="icon-trash"></i></a>{{/unless}}</td>
  </tr>
</template>

<template name="newPaymentForm">
  <button class="btn btn-large new-payment-trigger" data-toggle="collapse" data-target="#new-payment-form"><i class="icon-plus"></i> New payment</button>
  <div id="new-payment-form" class="{{#unless paymentsCount}}in {{/unless}}collapse">
    {{> paymentForm}}
  </div>
</template>

<template name="paymentForm">
  <form{{#if _id}} class="edit-record-form" data-target="{{_id}}" id="edit-payment-{{_id}}"{{else}} class="add-record-form" id="add-payment-form"{{/if}}>
    <label>Which expense are you paying?</label>
    <select name="expenseId">
      <option value="">Select an expense</option>
      {{!TODO: Make this work}}
      {{#each expenses}}
        {{> selectOptions}}
      {{/each}}
    </select>

    <label>Which income are you paying it with?</label>
    <select name="incomeId">
      <option value="">Select income</option>
      {{!TODO: Make this work}}
      {{#each incomes}}
        {{> selectOptions}}
      {{/each}}
    </select>

    <label>Amount</label>
    <input type="text" name="amount"{{#if _id}} value="{{amount}}"{{/if}} />

    <label class="checkbox"><strong>Paid</strong> (payment has physically been made)
      <input type="checkbox" name="paid"{{#if _id}}{{#if paid}} checked{{/if}}{{/if}} />
    </label>

    <label>If you'd like to include any notes to yourself about this payment, enter them here.</label>
    <textarea class="notes" name="notes">{{#if _id}}{{notes}}{{/if}}</textarea>

    <div>
      <button type="submit" class="btn {{#if _id}}save-payment{{else}}add-payment{{/if}}">{{#if _id}}Save{{else}}Add{{/if}}</button>
      {{#if _id}}<button class="btn cancel-editing">Cancel</button>{{/if}}
    </div>
  </form>
</template>
