<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spendflow</title>
</head>

<body>
  <div class="container">
    {{#if currentUser}}
      {{> nav}}
      {{> errorAlert}}
      {{> successAlert}}
    {{/if}}

    <div id="spendflow" class="{{currentPage}}">
      {{renderRouter}}
    </div>
  </div>
</body>

<template name="public">
  <div>Not logged in.</div>
  {{loginButtons}}
</template>

<template name="loading">
  Loading...
</template>

<template name="errorAlert">
  <div id="nav-flash-error" class="nav-alert alert alert-error">

  </div>
</template>

<template name="successAlert">
  <div id="nav-flash-success" class="nav-alert alert alert-success">

  </div>
</template>

<template name="selectOptions">
  <option value="{{optionValue}}"{{#if selected}} selected{{/if}}>{{optionText}}</option>
</template>
