<head>
  <title>Spendflow</title>
</head>

<body>
  {{#if currentUser}}
    {{> nav}}
    {{> errorAlert}}
    {{> successAlert}}
  {{/if}}

  <div id="spendflow">
    {{renderPage}}
  </div>
</body>

<template name="public">
  <div>Not logged in.</div>
  {{loginButtons}}
</template>

<template name="loading">
  We assure you the page is loading, even though there's not a fancy spinning wheel.
</template>

<template name="index">
  <div>Some sort of fantastic dashboard will go here.</div>
</template>

<template name="errorAlert">
  <div id="nav-flash-error" class="nav-alert alert alert-error">

  </div>
</template>

<template name="successAlert">
  <div id="nav-flash-success" class="nav-alert alert alert-success">

  </div>
</template>

<template name="selectOptions">
  <option value="{{optionValue}}"{{#if selected}} selected{{/if}}>{{optionText}}</option>
</template>
