<template name="accounts">
  {{> newAccountForm}}
  {{> accountList}}
</template>

<template name="accountList">
  <div class="account-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Biz</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each virtualAccounts}}
          {{> account}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#with editingAccount}}
    <fieldset>
      {{> accountForm}}
    </fieldset>
  {{/with}}
</template>

<template name="account">
  <tr data-target="{{_id}}"{{#if thisRowBeingEdited}} class="being-edited"{{/if}}>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{balance}}</td>
    <td>{{business}}</td>
    <td><a href="#" class="edit-account"><i class="icon-pencil"></i></a> <a href="#" class="remove-account"><i class="icon-trash"></i></a></td>
  </tr>
</template>

<template name="newAccountForm">
  <button class="btn btn-large new-account-trigger" data-toggle="collapse" data-target="#new-account-form"><i
    class="icon-plus"></i> New account
  </button>
  <div id="new-account-form" class="collapse{{#unless virtualAccountsCount}} in{{/unless}}">
    {{> accountForm}}
  </div>
</template>

<template name="accountForm">
  <form{{#if _id}} class="edit-record-form" data-target="{{_id}}"{{else}} class="add-record-form"{{/if}}>
    <div>
      <select name="type">
        {{! TODO: Be sure to actually validate these values}}
        <option value="">Select account type</option>
        {{! TODO: Finish adding pre-selection logic for this}}
        <option value="bank"{{#if equal type "bank"}} selected{{/if}}>Bank account (for receiving income)</option>
        <option value="payFrom"{{#if equal type "payFrom"}} selected{{/if}}>Virtual/savings account for specific expenses (e.g. Eating Out)</option>
        <option value="payTo"{{#if equal type "payTo"}} selected{{/if}}>Account to pay back (e.g. Credit Card)</option>
      </select>
    </div>
    <label>Name this account</label>
    <input type="text" name="name"{{#if _id}} value="{{name}}"{{/if}} />
    {{!TODO: Don't allow changing balance directly if automated calculations have worked upon it}}
    <label>Current account balance (be careful when changing this!)</label>
    <input type="text" placeholder="0.00" name="balance"{{#if _id}} value="{{balance}}"{{/if}} />

    <label class="checkbox">Is this a <strong>business</strong> account? (This is used to mark system-created Expenses and Incomes as business.)
      <input type="checkbox" name="business"{{#if _id}}{{#if business}} checked{{/if}}{{/if}} />
    </label>

    <div>
      <button type="submit" class="btn {{#if _id}}save-account{{else}}add-account{{/if}}">{{#if _id}}Save{{else}}Add{{/if}}</button>
      {{#if _id}}<button class="btn cancel-editing">Cancel</button>{{/if}}
    </div>
  </form>
</template>
