<template name="accounts">
  {{> accountList}}
  {{> newAccountForm}}
</template>

<template name="accountList">
  <div class="account-list record-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Balance</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each virtualAccounts}}
          {{> account}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#with editingAccount}}
    <fieldset>
      {{> accountForm}}
    </fieldset>
  {{/with}}
</template>

<template name="account">
  <tr data-target="{{_id}}">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{balance}}</td>
    <td><i class="cursor-pointer edit-account icon-pencil"></i></td>
  </tr>
</template>

<template name="newAccountForm">
  <button class="btn btn-large new-account-trigger" data-toggle="collapse" data-target="#new-account-form"><i
    class="icon-plus"></i>New account
  </button>
  <div id="new-account-form" class="collapse">
    {{> accountForm}}
  </div>
</template>

<template name="accountForm">
  <form{{#if _id}} class="edit-record-form"{{else}} class="add-record-form"{{/if}}>
    <div>
      <select name="type">
        {{! TODO: Be sure to actually validate these values}}
        <option value="">Select account type</option>
        {{! TODO: Finish adding pre-selection logic for this}}
        <option value="bank">Bank account (for receiving income)</option>
        <option value="payFrom">Virtual/savings account for specific expenses (e.g. Eating Out)</option>
        <option value="payTo"{{#if equal type "payTo"}} selected{{/if}}>Accounts to pay back (e.g. Credit Card)</option>
      </select>
    </div>
    <label>Name this account</label>
    <input type="text" name="name" />
    <label>Initial account balance</label>
    <input type="text" placeholder="0.00" name="balance" />
    <div><button type="submit" class="btn {{#if editingAccount}}save-account{{else}}add-account{{/if}}">{{#if editingAccount}}Save{{else}}Add{{/if}}</button></div>
  </form>
</template>
