.alert {
  display: none;
}

body {
  margin: 20px;
}

.nav-alert {
  clear: both;
}

#spendflow {
  clear: both;
}

.record-list {
  > table {
    width: auto;

    td {
      min-width: 6em;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.being-edited {
  font-weight: bold;
  color: #00f;
}

@import "views/_accounts";
@import "views/_envelopes";
@import "views/_incomes";
