.alert {
  display: none;
}

body {
  margin: 20px;
}

.nav-alert {
  clear: both;
}

#spendflow {
  clear: both;
}

.record-list {
  > table {
    width: auto;

    td {
      min-width: 6em;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.being-edited {
  font-weight: bold;
  color: #00f;
}

.main-amount {
  font-size: 1.5em;
  font-weight: bold;
  color: green;
}

// Styles for income and expenses
.notes {
  width: 38em;
  height: 7em;
}

// Forms
.add-record-form, .edit-record-form {
  padding-left: 1px; // Cuz of weird Bootstrap option button thing
}

@import "views/_accounts";
@import "views/_envelopes";
@import "views/_incomes";
