$base_font_scale: 14;

.alert {
  display: none;
}

body {
  margin: 20em/$base_font_scale;
}

// Was a good idea but need to think more about it
/* // Make it kinda accessible.
a, a:active, a:visited, a:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1em/$base_font_scale;
  padding-bottom: 1em/$base_font_scale;
}

// But not in tables, for now
table {
  a, a:active, a:visited, a:hover {
    border: inherit;
    padding: inherit;
  }
} */

.nav-alert {
  clear: both;
}

#spendflow {
  clear: both;
}

.record-list {
  > table {
    width: auto;

    td {
      min-width: 6em;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.being-edited {
  font-weight: bold;
  color: #00f;
}

.main-amount {
  font-size: 1.5em;
  font-weight: bold;
  color: green;
}

.muted .main-amount {
  color: inherit;
}

// Styles for income and expenses
.notes {
  width: 38em;
  height: 7em;
}

// Forms
.add-record-form, .edit-record-form {
  padding-left: 1em/$base_font_scale; // Cuz of weird Bootstrap option button thing

  select {
    width: auto;
  }
}

// Login
.login-buttons-dropdown-align-left {
  display: inline-block;
}

@import "views/_index";
@import "views/_accounts";
@import "views/_envelopes";
@import "views/_incomes";
@import "views/_expenses";
@import "views/_payments";
@import "views/_nav";
